<mat-toolbar color="primary">
  <span>E-banking</span>
  <span class="navbar-spacer"></span>
  <button mat-button routerLink="/admin/home">
    Home
  </button>

  <button mat-button [matMenuTriggerFor]="clientsMenu">
    <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
    Clients
  </button>
  <mat-menu #clientsMenu>
    <button mat-menu-item routerLink="/admin/clients" disableRipple>Clients</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="creditsMenu">
    <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
    Credits
  </button>
  <mat-menu #creditsMenu>
    <button mat-menu-item routerLink="/admin/credits" disableRipple>Credits</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="remboursementsMenu">
    <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
    Remboursements
  </button>
  <mat-menu #remboursementsMenu>
    <button mat-menu-item routerLink="/admin/remboursements" disableRipple>Remboursements</button>
  </mat-menu>

  <span class="navbar-spacer"></span>
  <div>
    <button mat-button *ngIf="authService.isAuthenticated">
      <mat-icon iconPositionEnd>account_circle</mat-icon>
      {{authService.username}}
    </button>
  </div>
  <button mat-icon-button (click)="handleLogout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<div style="min-height: 600px;background-color: #f9fafb" class="container">
  <router-outlet></router-outlet>
</div>
